# **Training Model Rekomendasi (Klasifikasi Boros/Hemat)**

Notebook ini bertujuan untuk membangun model Machine Learning dengan **TensorFlow** untuk mengklasifikasikan pola pengeluaran mahasiswa sebagai **'Boros'** atau **'Hemat'**. Model ini akan menjadi dasar dari fitur "Rekomendasi Hemat Harian" di aplikasi SmartSaku.

**Proses:**
1.  **Eksplorasi Data (EDA) & Feature Engineering**: Memuat data, memahami isinya, dan membuat kolom target `label` ('boros'/'hemat').
2.  **Preprocessing**: Menyiapkan data agar bisa diproses oleh model (scaling & encoding).
3.  **Membangun Model TensorFlow**: Merancang arsitektur Jaringan Saraf Tiruan (Neural Network) sederhana.
4.  **Training & Evaluasi**: Melatih model dan mengukur performanya.
5.  **Menyimpan Model**: Menyimpan model yang sudah dilatih untuk digunakan di tahap inferensi.

## Import Library

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
import pickle
import h5py

print("TensorFlow Version:", tf.__version__)
print("Semua library berhasil di-import.")

TensorFlow Version: 2.6.0
Semua library berhasil di-import.

## 1. Muat dan Eksplorasi Data Awal (EDA)

Kita memuat dataset `student_spending.csv` yang telah diunduh dari Kaggle. Kemudian, kita akan melihat informasi dasar seperti tipe data, nilai yang kosong, dan beberapa baris pertama untuk memahami struktur data.

In [2]:
# Muat dataset
df = pd.read_csv('student_spending.csv')

# Tampilkan informasi dasar dan 5 baris pertama
print(df.info())
print("\nStatistik Deskriptif:")
print(df.describe())
print("\n5 Baris Pertama Data:")
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1000 non-null   int64
 1   age                       1000 non-null   int64
 2   gender                    1000 non-null   object
 3   year_in_school            1000 non-null   object
 4   major                     1000 non-null   object
 5   monthly_income            1000 non-null   int64
 6   financial_aid             1000 non-null   int64
 7   tuition                   1000 non-null   int64
 8   housing                   1000 non-null   int64
 9   food                      1000 non-null   int64
 10  transportation            1000 non-null   int64
 11  books_supplies            1000 non-null   int64
 12  entertainment             1000 non-null   int64
 13  personal_care             1000 non-null   int64
 14  technology                1000 non-null   int64
 15  health_wellness           1000 non-null   int64
 16  miscellaneous             1000 non-null   int64
 17  preferred_payment_method  1000 non-null   object
dtypes: int64(14), object(4)
memory usage: 140.8+ KB
None

Statistik Deskriptif:
        Unnamed: 0          age  monthly_income  financial_aid      tuition  \
count  1000.000000  1000.000000     1000.000000    1000.000000  1000.000000
mean    499.500000    21.675000     1020.650000     504.771000  4520.395000
std     288.819436     2.322664      293.841161     287.092575   860.657944
min       0.000000    18.000000      501.000000       0.000000  3003.000000
25%     249.750000    20.000000      770.750000     261.000000  3779.750000
50%     499.500000    22.000000     1021.000000     513.000000  4547.500000
75%     749.250000    24.000000     1288.250000     751.500000  5285.000000
max     999.000000    25.000000     1500.000000    1000.000000  6000.000000

          housing         food  transportation  books_supplies  entertainment  \
count  1000.00000  1000.000000      1000.00000     1000.000000    1000.000000
mean    696.00600   252.642000       124.63700      174.761000      84.814000
std     171.21862    86.949606        43.55799       72.404518      37.970451
min     401.00000   100.000000        50.00000       50.000000      20.000000
25%     538.75000   175.000000        88.00000      112.000000      54.000000
50%     704.50000   255.000000       123.00000      175.000000      86.000000
75%     837.25000   330.000000       162.25000      238.000000     116.000000
max    1000.00000   400.000000       200.00000      300.000000     150.000000

       personal_care   technology  health_wellness  miscellaneous
count    1000.000000  1000.000000      1000.000000    1000.000000
mean       60.699000   178.304000       114.310000     108.910000
std        22.898007    71.744441        49.591544      52.412221
min        20.000000    50.000000        30.000000      20.000000
25%        41.000000   114.000000        73.000000      63.750000
50%        62.000000   178.000000       115.000000     110.000000
75%        80.000000   241.000000       158.000000     153.000000
max       100.000000   300.000000       200.000000     200.000000

5 Baris Pertama Data:

,Unnamed: 0,age,gender,year_in_school,major,monthly_income,financial_aid,tuition,housing,food,transportation,books_supplies,entertainment,personal_care,technology,health_wellness,miscellaneous,preferred_payment_method
0,0,19,Non-binary,Freshman,Psychology,958,270,5939,709,296,123,188,41,78,134,127,72,Credit/Debit Card
1,1,24,Female,Junior,Economics,1006,875,4908,557,365,85,252,74,92,226,129,68,Credit/Debit Card
2,2,24,Non-binary,Junior,Economics,734,928,3051,666,220,137,99,130,23,239,112,133,Cash
3,3,23,Female,Senior,Computer Science,617,265,4935,652,289,114,223,99,30,163,105,55,Mobile Payment App
4,4,20,Female,Senior,Computer Science,810,522,3887,825,372,168,194,48,71,88,71,104,Credit/Debit Card

## 2. Feature Engineering: Membuat Label 'Boros' atau 'Hemat'

Dataset ini tidak memiliki label target. Kita akan membuatnya berdasarkan logika sederhana: **Jika pengeluaran non-esensial lebih besar dari pengeluaran esensial, maka mahasiswa tersebut dianggap 'boros', jika tidak maka 'hemat'**. Ini adalah asumsi logis untuk proyek kita.

Kita juga akan memilih fitur-fitur yang relevan yang akan digunakan untuk melatih model.

In [3]:
# Sel untuk memuat data

df = pd.read_csv('student_spending.csv', engine='python')

# TAMBAHKAN BARIS INI DI BAWAHNYA:
print("NAMA KOLOM YANG SEBENARNYA ADALAH:")
print(df.columns.tolist())

NAMA KOLOM YANG SEBENARNYA ADALAH:
['Unnamed: 0', 'age', 'gender', 'year_in_school', 'major', 'monthly_income', 'financial_aid', 'tuition', 'housing', 'food', 'transportation', 'books_supplies', 'entertainment', 'personal_care', 'technology', 'health_wellness', 'miscellaneous', 'preferred_payment_method']

In [4]:
# 1. Definisikan kolom esensial dan non-esensial
essential_cols = ['housing', 'food', 'transportation', 'books_supplies', 'personal_care', 'health_wellness'] 
non_essential_cols = ['entertainment', 'technology', 'miscellaneous'] 

# 2. Hitung total pengeluaran
df['total_essentials'] = df[essential_cols].sum(axis=1)
df['total_non_essentials'] = df[non_essential_cols].sum(axis=1)

# 3. Buat label 'boros'/'hemat'
df['label'] = np.where(df['total_non_essentials'] > df['total_essentials'], 'boros', 'hemat')

print("Distribusi Label 'boros' vs 'hemat':")
print(df['label'].value_counts())

# 4. Pilih fitur yang relevan 
features = ['monthly_income', 'financial_aid', 'gender', 'major'] 
target = 'label'

X = df[features]
y = df[target]

print("\nFitur baru yang digunakan:")
display(X.head())

Distribusi Label 'boros' vs 'hemat':
label
hemat    1000
Name: count, dtype: int64

Fitur baru yang digunakan:

   monthly_income  financial_aid      gender             major
0             958            270  Non-binary        Psychology
1            1006            875      Female         Economics
2             734            928  Non-binary         Economics
3             617            265      Female  Computer Science
4             810            522      Female  Computer Science

## 3. Preprocessing Data

Model Jaringan Saraf Tiruan (Neural Network) memerlukan input numerik. Oleh karena itu, kita perlu melakukan dua hal:
1.  **One-Hot Encoding**: Mengubah fitur kategorikal (seperti `preferred_payment_method` dan `gender`) menjadi format numerik.
2.  **Standard Scaling**: Menyamakan skala semua fitur numerik agar model tidak bias terhadap fitur dengan jangkauan nilai yang besar.
3.  **Label Encoding**: Mengubah label target ('hemat'/'boros') menjadi angka (`0`/`1`).

In [5]:
# Pisahkan kolom numerik dan kategorikal
numerical_features = X.select_dtypes(include=np.number).columns.tolist()
categorical_features = X.select_dtypes(include=np.object_).columns.tolist()

# Buat preprocessor pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features)
    ],
    remainder='passthrough'
)

# Terapkan preprocessing pada fitur X
X_processed = preprocessor.fit_transform(X)

# Encode label target y
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

print("Dimensi data setelah diproses:", X_processed.shape)
print("Contoh kelas label:", label_encoder.classes_, "->", label_encoder.transform(label_encoder.classes_))

Dimensi data setelah diproses: (1000, 10)
Contoh kelas label: ['hemat'] -> [0]

## 4. Membagi Dataset (Train & Test Split)

Kita membagi data menjadi dua set: 80% untuk melatih model (`train`) dan 20% untuk menguji performanya (`test`).

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X_processed, y_encoded, test_size=0.2, random_state=42, stratify=y_encoded)

print("Data Latih:", X_train.shape)
print("Data Uji:", X_test.shape)

Data Latih: (800, 10)
Data Uji: (200, 10)

## 5. Membangun Model TensorFlow

Sesuai **Main Quest**, kita membangun model menggunakan arsitektur TensorFlow. Kita akan membuat model Jaringan Saraf Tiruan (DNN) sederhana dengan beberapa lapisan:
- **Input Layer**: Sesuai dengan jumlah fitur kita.
- **Hidden Layers**: Dua lapisan tersembunyi dengan fungsi aktivasi `relu` untuk mempelajari pola.
- **Output Layer**: Satu neuron dengan fungsi aktivasi `sigmoid`, cocok untuk klasifikasi biner (0 atau 1).

Model ini dikompilasi dengan *optimizer* `adam` dan *loss function* `binary_crossentropy`.

In [7]:
model = tf.keras.models.Sequential([
    # Input layer
    tf.keras.layers.Input(shape=(X_train.shape[1],)),
    
    # Hidden layers
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dropout(0.3), # Dropout untuk mengurangi overfitting
    tf.keras.layers.Dense(16, activation='relu'),
    
    # Output layer
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# Kompilasi model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Tampilkan ringkasan arsitektur model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                352
_________________________________________________________________
dropout (Dropout)            (None, 32)                0
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 17
=================================================================
Total params: 897
Trainable params: 897
Non-trainable params: 0
_________________________________________________________________

## 6. Melatih Model (Training)

Kita melatih model menggunakan data latih (`X_train`, `y_train`) selama 50 *epoch*. Kita juga menyertakan data validasi untuk memantau performa model di setiap *epoch*.

In [8]:
# Latih model
history = model.fit(
    X_train,
    y_train,
    epochs=50,
    validation_data=(X_test, y_test),
    verbose=2 # Tampilkan log per epoch
)

Epoch 1/50
25/25 - 4s - loss: 0.7793 - accuracy: 0.2950 - val_loss: 0.5844 - val_accuracy: 0.8500
Epoch 2/50
25/25 - 0s - loss: 0.5352 - accuracy: 0.8963 - val_loss: 0.3994 - val_accuracy: 1.0000
Epoch 3/50
25/25 - 0s - loss: 0.3677 - accuracy: 0.9950 - val_loss: 0.2550 - val_accuracy: 1.0000
Epoch 4/50
25/25 - 0s - loss: 0.2304 - accuracy: 1.0000 - val_loss: 0.1498 - val_accuracy: 1.0000
Epoch 5/50
25/25 - 0s - loss: 0.1360 - accuracy: 1.0000 - val_loss: 0.0832 - val_accuracy: 1.0000
Epoch 6/50
25/25 - 0s - loss: 0.0824 - accuracy: 1.0000 - val_loss: 0.0465 - val_accuracy: 1.0000
Epoch 7/50
25/25 - 0s - loss: 0.0460 - accuracy: 1.0000 - val_loss: 0.0277 - val_accuracy: 1.0000
Epoch 8/50
25/25 - 0s - loss: 0.0328 - accuracy: 1.0000 - val_loss: 0.0174 - val_accuracy: 1.0000
Epoch 9/50
25/25 - 0s - loss: 0.0223 - accuracy: 1.0000 - val_loss: 0.0116 - val_accuracy: 1.0000
Epoch 10/50
25/25 - 0s - loss: 0.0152 - accuracy: 1.0000 - val_loss: 0.0082 - val_accuracy: 1.0000
Epoch 11/50
25/25 - 0s - loss: 0.0114 - accuracy: 1.0000 - val_loss: 0.0060 - val_accuracy: 1.0000
Epoch 12/50
25/25 - 0s - loss: 0.0097 - accuracy: 1.0000 - val_loss: 0.0046 - val_accuracy: 1.0000
Epoch 13/50
25/25 - 0s - loss: 0.0081 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 14/50
25/25 - 0s - loss: 0.0061 - accuracy: 1.0000 - val_loss: 0.0028 - val_accuracy: 1.0000
Epoch 15/50
25/25 - 0s - loss: 0.0058 - accuracy: 1.0000 - val_loss: 0.0022 - val_accuracy: 1.0000
Epoch 16/50
25/25 - 0s - loss: 0.0042 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 17/50
25/25 - 0s - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0014 - val_accuracy: 1.0000
Epoch 18/50
25/25 - 0s - loss: 0.0028 - accuracy: 1.0000 - val_loss: 0.0012 - val_accuracy: 1.0000
Epoch 19/50
25/25 - 0s - loss: 0.0027 - accuracy: 1.0000 - val_loss: 0.0010 - val_accuracy: 1.0000
Epoch 20/50
25/25 - 0s - loss: 0.0025 - accuracy: 1.0000 - val_loss: 8.5321e-04 - val_accuracy: 1.0000
Epoch 21/50
25/25 - 0s - loss: 0.0020 - accuracy: 1.0000 - val_loss: 7.3181e-04 - val_accuracy: 1.0000
Epoch 22/50
25/25 - 0s - loss: 0.0017 - accuracy: 1.0000 - val_loss: 6.3215e-04 - val_accuracy: 1.0000
Epoch 23/50
25/25 - 0s - loss: 0.0015 - accuracy: 1.0000 - val_loss: 5.5605e-04 - val_accuracy: 1.0000
Epoch 24/50
25/25 - 0s - loss: 0.0016 - accuracy: 1.0000 - val_loss: 4.8404e-04 - val_accuracy: 1.0000
Epoch 25/50
25/25 - 0s - loss: 0.0012 - accuracy: 1.0000 - val_loss: 4.2428e-04 - val_accuracy: 1.0000
Epoch 26/50
25/25 - 0s - loss: 0.0012 - accuracy: 1.0000 - val_loss: 3.7608e-04 - val_accuracy: 1.0000
Epoch 27/50
25/25 - 0s - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.3440e-04 - val_accuracy: 1.0000
Epoch 28/50
25/25 - 0s - loss: 9.1519e-04 - accuracy: 1.0000 - val_loss: 2.9771e-04 - val_accuracy: 1.0000
Epoch 29/50
25/25 - 0s - loss: 9.3881e-04 - accuracy: 1.0000 - val_loss: 2.6773e-04 - val_accuracy: 1.0000
Epoch 30/50
25/25 - 0s - loss: 8.4854e-04 - accuracy: 1.0000 - val_loss: 2.3890e-04 - val_accuracy: 1.0000
Epoch 31/50
25/25 - 0s - loss: 7.4473e-04 - accuracy: 1.0000 - val_loss: 2.1515e-04 - val_accuracy: 1.0000
Epoch 32/50
25/25 - 0s - loss: 6.7563e-04 - accuracy: 1.0000 - val_loss: 1.9613e-04 - val_accuracy: 1.0000
Epoch 33/50
25/25 - 0s - loss: 6.7798e-04 - accuracy: 1.0000 - val_loss: 1.7822e-04 - val_accuracy: 1.0000
Epoch 34/50
25/25 - 0s - loss: 8.2619e-04 - accuracy: 1.0000 - val_loss: 1.6228e-04 - val_accuracy: 1.0000
Epoch 35/50
25/25 - 0s - loss: 5.8032e-04 - accuracy: 1.0000 - val_loss: 1.4822e-04 - val_accuracy: 1.0000
Epoch 36/50
25/25 - 0s - loss: 5.5777e-04 - accuracy: 1.0000 - val_loss: 1.3524e-04 - val_accuracy: 1.0000
Epoch 37/50
25/25 - 0s - loss: 5.1449e-04 - accuracy: 1.0000 - val_loss: 1.2406e-04 - val_accuracy: 1.0000
Epoch 38/50
25/25 - 0s - loss: 4.7268e-04 - accuracy: 1.0000 - val_loss: 1.1446e-04 - val_accuracy: 1.0000
Epoch 39/50
25/25 - 0s - loss: 4.5292e-04 - accuracy: 1.0000 - val_loss: 1.0635e-04 - val_accuracy: 1.0000
Epoch 40/50
25/25 - 0s - loss: 3.9905e-04 - accuracy: 1.0000 - val_loss: 9.8672e-05 - val_accuracy: 1.0000
Epoch 41/50
25/25 - 0s - loss: 3.0357e-04 - accuracy: 1.0000 - val_loss: 9.2085e-05 - val_accuracy: 1.0000
Epoch 42/50
25/25 - 0s - loss: 4.8043e-04 - accuracy: 1.0000 - val_loss: 8.5527e-05 - val_accuracy: 1.0000
Epoch 43/50
25/25 - 0s - loss: 3.4016e-04 - accuracy: 1.0000 - val_loss: 7.9397e-05 - val_accuracy: 1.0000
Epoch 44/50
25/25 - 0s - loss: 3.0614e-04 - accuracy: 1.0000 - val_loss: 7.4491e-05 - val_accuracy: 1.0000
Epoch 45/50
25/25 - 0s - loss: 3.8946e-04 - accuracy: 1.0000 - val_loss: 6.9500e-05 - val_accuracy: 1.0000
Epoch 46/50
25/25 - 0s - loss: 3.3177e-04 - accuracy: 1.0000 - val_loss: 6.5088e-05 - val_accuracy: 1.0000
Epoch 47/50
25/25 - 0s - loss: 3.0387e-04 - accuracy: 1.0000 - val_loss: 6.1140e-05 - val_accuracy: 1.0000
Epoch 48/50
25/25 - 0s - loss: 2.2058e-04 - accuracy: 1.0000 - val_loss: 5.7244e-05 - val_accuracy: 1.0000
Epoch 49/50
25/25 - 0s - loss: 2.7453e-04 - accuracy: 1.0000 - val_loss: 5.3706e-05 - val_accuracy: 1.0000
Epoch 50/50
25/25 - 0s - loss: 4.1387e-04 - accuracy: 1.0000 - val_loss: 4.9938e-05 - val_accuracy: 1.0000

## 7. Evaluasi Model

Setelah pelatihan selesai, kita evaluasi performa akhir model pada data uji yang belum pernah dilihat sebelumnya untuk mendapatkan gambaran seberapa baik model ini akan bekerja di dunia nyata.

In [9]:
# Evaluasi model
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print(f'\nAkurasi Model pada Data Uji: {accuracy*100:.2f}%')

# Laporan Klasifikasi
y_pred_proba = model.predict(X_test)
y_pred = (y_pred_proba > 0.5).astype(int)
print("\nLaporan Klasifikasi:")
print(classification_report(y_test, y_pred, target_names=label_encoder.classes_))

Akurasi Model pada Data Uji: 100.00%

Laporan Klasifikasi:
              precision    recall  f1-score   support

       hemat       1.00      1.00      1.00       200

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

In [10]:
df.head()

,Unnamed: 0,age,gender,year_in_school,major,monthly_income,financial_aid,tuition,housing,food,...,books_supplies,entertainment,personal_care,technology,health_wellness,miscellaneous,preferred_payment_method,total_essentials,total_non_essentials,label
0,0,19,Non-binary,Freshman,Psychology,958,270,5939,709,296,...,188,41,78,134,127,72,Credit/Debit Card,1521,247,hemat
1,1,24,Female,Junior,Economics,1006,875,4908,557,365,...,252,74,92,226,129,68,Credit/Debit Card,1480,368,hemat
2,2,24,Non-binary,Junior,Economics,734,928,3051,666,220,...,99,130,23,239,112,133,Cash,1257,502,hemat
3,3,23,Female,Senior,Computer Science,617,265,4935,652,289,...,223,99,30,163,105,55,Mobile Payment App,1413,317,hemat
4,4,20,Female,Senior,Computer Science,810,522,3887,825,372,...,194,48,71,88,71,104,Credit/Debit Card,1701,240,hemat

## 8. Menyimpan Model dan Preprocessor

Ini adalah langkah terakhir dan terpenting. Kita menyimpan:
1.  **Model TensorFlow**: Dalam format `.keras` yang merupakan format standar baru.
2.  **Preprocessor**: Objek `ColumnTransformer` yang kita buat tadi, dalam format `.pkl`.
3.  **Label Encoder**: Objek `LabelEncoder` agar kita tahu `0` itu apa dan `1` itu apa, dalam format `.pkl`.

Ketiga file ini akan digunakan oleh *script* inferensi.

In [52]:
# Simpan model TensorFlow
model.save('model_rekomendasi.keras')

# Simpan preprocessor
with open('preprocessor_rekomendasi.pkl', 'wb') as f:
    pickle.dump(preprocessor, f)

# Simpan label encoder
with open('label_encoder_rekomendasi.pkl', 'wb') as f:
    pickle.dump(label_encoder, f)
    
print("\nModel dan artifak lainnya berhasil disimpan!")
print("1. model_rekomendasi.keras")
print("2. preprocessor_rekomendasi.pkl")
print("3. label_encoder_rekomendasi.pkl")

Model dan artifak lainnya berhasil disimpan!
1. model_rekomendasi.keras
2. preprocessor_rekomendasi.pkl
3. label_encoder_rekomendasi.pkl

In [11]:
# Simpan model H5
model.save('model_rekomendasi.h5')

## Kesimpulan

Kita telah berhasil membangun, melatih, dan menyimpan sebuah model klasifikasi menggunakan TensorFlow. Model ini mampu membedakan perilaku 'boros' dan 'hemat' dengan akurasi yang baik pada data uji. Artifak yang disimpan (`.keras` dan `.pkl`) kini siap untuk diintegrasikan ke dalam *script* inferensi yang akan dihubungkan ke backend. Proses ini telah memenuhi semua kewajiban dari **Main Quest** untuk Machine Learning.